{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ _('Archive') }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ SITENAME }} - {{ _('Archive') }}" />
{% endblock %}

{% block content %}


    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored">{{ _('Archive') }}</h1>
        <div class="archive">
          {% if 'tipue_search' in PLUGINS %}
              {% include 'partial/search.html' %}
          {% endif %}

          <br>

          {% for article in articles %}
              {% include 'partial/articleTeaser.html' %}
          {% endfor %}
        </div>
    </div>
{% endblock %}
