{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ article.author.name }}" />
    <meta name="description" content="{{ article.summary|striptags }}" />
    <meta name="keywords" content="{{ article.tags|join(', ') }}">
    {% include "partial/og_tags.html" %}
{% endblock %}

{% block content %}

    <div class="fh5co-narrow-content article-content">
        <h1 class="fh5co-heading-colored">{{ article.title }}</h1>

        <div>{{ _('by') }}
            {% for author in article.authors %}
                <a href="{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %} - {{ article.locale_date }}
        </div>

        {% if article.tags %}
            <div><span>Tags: </span>
                {% for tag in article.tags %}
                    <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a> </span>
                {% endfor %}
            </div>
        {% endif %}

        <div class="animate-box" data-animate-effect="fadeInLeft">
            <p class="animate-box" data-animate-effect="fadeInLeft">{{ article.content }}</p>
        </div>
    </div>

  <!--  {% include 'partial/disqus.html' %} -->

{% endblock %}
