{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
{% block content %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"> {{ category }}</h2>
        {% for article in articles %}
            {% include 'partial/articleTeaser.html' %}
        {% endfor %}
    </div>
{% endblock %}
