{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ _('Contact') }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ SITENAME }} - Contact" />
    <form action="https://formspree.io/gl.m@p4h2m.net" method="POST" />
{% endblock %}

{% block content %}

      <div class="fh5co-more-contact">
        <div class="fh5co-narrow-content">
          <div class="row">

            {% if 'mail' in ABOUT %}
              <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                  <div class="fh5co-icon">
                      {% if 'image' in ABOUT %}
                        <img class="about-image" src="{{ ABOUT.image }}" />
                      {% else %}
                        <i class="icon-globe"></i>
                      {% endif %}
                  </div>
                  <div class="fh5co-text">
                    <p><a href="mailto:{{ ABOUT.mail }}">{{ ABOUT.mail }}</a></p>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if 'address' in ABOUT %}
              <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                  <div class="fh5co-icon">
                    <i class="icon-world2"></i>
                  </div>
                  <div class="fh5co-text">
                    <p>{{ ABOUT.address }}</p>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if 'phone' in ABOUT %}
            <div class="col-md-4">
              <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                <div class="fh5co-icon">
                  <i class="icon-phone"></i>
                </div>
                <div class="fh5co-text">
                  <p><a href="tel://">{{ ABOUT.phone }}</a></p>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>


      <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="row">
          <div class="col-md-4">
            <h2>{{ _('Get in touch') }}</h2>
          </div>
        </div>
        <form id="contact-form"  method="POST" action="https://formspree.io/gl.m@p4h2m.net">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="name" name="name" id="name" class="form-control" required minlength="1" placeholder="{{ _('Name') }}">
                  </div>
                  <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="{{ _('Email') }}">
                  </div>
                  <div class="form-group">
                    <input id="choose" name="i_like" class="form-control" required pattern="13" placeholder="10 + 3 = ?">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea type="message" name="message" id="message" cols="30" rows="7" class="form-control" required minlength="1" maxlength="600" placeholder="{{ _('Message') }}"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-md" value="{{ _('Send') }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-success alert-success">{{ _('Thank you for your message, we will respond as soon as possible.') }}</div>
        </form>
      </div>


      {% if 'address' in ABOUT %}
        <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
          <div id="map" data-address="{{ ABOUT.address }}"></div>
        </div>
      {% endif %}

    {% include 'partial/copyright.html' %}
{% endblock %}
