{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="blog-item animate-box">
  <img src="{{ HEADERIMAGE }}" style="width:100%">
</div>

<!--    {% include 'partial/hero.html' %} -->
    {% include 'partial/author.html' %}

    {% include 'partial/categories.html' %}
    {% include 'partial/pages.html' %}
    {% include 'partial/latest.html' %}
    {% include 'partial/about.html' %}


    {% if ICONS %}
        <ul class="demo-icons">
        {% for icon in ICONS %}
            <li><i class="{{ icon }}"></i> {{ icon }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% include 'partial/copyright.html' %}

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://p4h2m.net/piwik/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "2"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
    </script>

    <!-- Piwik Image Tracker as fall-back option -->
    <noscript>
      <img src="https://p4h2m.net/piwik/piwik.php?idsite=2&amp;rec=1" style="border:0" alt="" />
    </noscript>
    <!-- End Piwik Code -->

{% endblock %}
