{% block content %}
    <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"> {{ AUTHOR_FULL }} </h2>
      <div class="animate-box" data-animate-effect="fadeInLeft">
        <figure2> {{ AUTHORDESCRIPTION }} </figure2>    
      </div>
    </div>
{% endblock %}
