{% block content %}
      <div class="fh5co-narrow-content">
      <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"> {{ _('Interests') }}</h2>
        <div class="animate-box" data-animate-effect="fadeInLeft">
            {% for category, articles in categories %}
                <a href="{{ SITEURL }}/{{ category.url }}" class="overview-link col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="wrapper">
                        <div class="fh5co-feature">
                            <div class="fh5co-icon">
                                <i class="icon-folder"></i>
                            </div>
                            <div class="fh5co-text">
                                <h3>{{ category }}</h3>
                                <p>{{ articles|length }} {{ _('articles') }}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
