<div class="fh5co-footer">
    <p><small><span>&copy; 2016 Blend Free HTML5. All Rights Reserved.</span>
      <span>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></span>
    <br /><span>Pelican theme based on the nice work of <a href="https://github.com/claudio-walser/pelican-fh5co-marble" target="_blank">Claudio Walser</a></span></small></p>
</div>
