{% if articles|length > 0 %}
    <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">{{ _('Recent articles -- for more check out the ') }}
      <a href="{{ SITEURL }}/archives.html" class="btn btn-primary">{{ _('Archive') }}</a></h2>
    <div class="row row-bottom-padded-md">
        {% for article in articles[0:4] %}
            {% include 'partial/articleTeaser.html' %}
        {% endfor %}
    </div>
{% endif %}
