<ul><li><form id="searchform" action="{{ SITEURL }}/search.html">
    <input id="tipue_search_input" data-siteurl="{{ SITEURL }}" type="text" size="80" class="form-control search-field" name="q">
    <button type="submit" class="btn btn-primary search-submit"><i class="icon-search4"></i></button>
</form></li></ul>
