<ul id="social">
    {% for social in SOCIAL %}

        {% if 'rss' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-rss"></i></a></li>

        {% elif 'gitlab' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-git"></i></a></li>

        {% elif 'iss' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-world"></i></a></li>

        {% elif 'google' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-google3"></i></a></li>

        {% elif 'instagram' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-instagram"></i></a></li>

        {% elif 'linkedin' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-linkedin2"></i></a></li>

        {% elif 'readthedocs' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-document"></i></a></li>

        {% elif 'travis-ci' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><i class="icon-spanner"></i></a></li>

        {% endif %}
    {% endfor %}
</ul>
